extends layout

block content
  h1= title
  div
    p Welcome to #{title}
    a(href="https://google.com") href
    p Hello World
  div
    p Another Div
  div(id="aa")
    p Div with id

  script(src='/javascripts/getpath.js')

